name: Github Actions Demo

on:
  push:
    branches: [ main ]
    paths-ignore: [.github/**]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '15 6 * * 0'
  workflow_dispatch:

  jobs:
    Build:
      runs-on: Ubuntu-latest
      steps: 
        - run:
            echo " The job was triggered by event: ${{github.event_name }}"
            echo " The name of your branch is: ${{ github.ref }} and your repository is ."
        - uses: actions/checkout@v3.0.2
        - name: List files in the directory
          run:
            echo "The repository ${{ github.repository }} contains the following yet to be written."
        
     
